@import "_library.scss";
@import "_smart-grid.scss";

@include font(Calibri, calibri);
@include font(Calibrib, calibrib, bold);
@include font(Calibrii, calibrii, normal, italic);
@include font(Calibribi, calibribi, bold, italic);

@import "_base.scss";
@import "_slick.scss";


/*  ШАПКА  */
.header, .footer{
  background: #fff;
  padding: 15px 0 15px;

  &__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__left{
    flex: 0 0 200px;
  }
  &__center{
    flex: 1 1 400px;
  }
  &__right{
    flex: 0 0 200px;
  }
}
.logo{
  max-width: 200px;
}
.phone{
  text-align: right;
}
.phone__link{
  display: inline-block;
  font: 1rem/1.2 Calibri, Tahoma, sans-serif;
  color: $color1;
  text-decoration: none;
}
.phone__btn{}


/*  НАВИГАЦИЯ  */
.nav{
  padding: 10px 0;
  list-style: none;
  text-align: justify;
  font-size: 0;

  &::after{
    content: '';
    display: inline-block;
    width: 100%;
    height: 0;
  }

  &__item{
    display: inline-block;
    padding: 0 5px;
  }
  &__link{
    display: inline-block;
    text-decoration: none;
    font: 1rem/1.2 Calibri, Tahoma, sans-serif;
    color: $color1;
  }
}


/*  ПЕРВЫЙ ЭКРАН  */
.top-screen{
  padding: 70px 0 70px;
  background: url('../img/bcg1.jpg') center top no-repeat;
  background-size: cover;
}




/*  ПОДВАЛ  */