//Переменные
$color1: #333333;

$color11: #94462A;
$color12: #3FAAB9;
$color13: #459310;



//Размеры адаптивности
$w-lg: 1280px;
$w-md: 960px;
$w-sm: 780px;
$w-xs: 560px;
$w-xxs: 425px;

@mixin lg {
	@media (max-width: $w-lg) { @content; }
}
@mixin md {
	@media (max-width: $w-md) { @content; }
}
@mixin sm {
	@media (max-width: $w-sm) { @content; }
}
@mixin xs {
	@media (max-width: $w-xs) { @content; }
}
@mixin xxs {
	@media (max-width: $w-xxs) { @content; }
}


@mixin xs-sm {
	@media (min-width: ($w-xs + 1)) and (max-width: $w-sm) { @content; }
}
@mixin xs-md {
	@media (min-width: ($w-xs + 1)) and (max-width: $w-md) { @content; }
}
@mixin xs-lg {
	@media (min-width: ($w-xs + 1)) and (max-width: $w-lg) { @content; }
}
@mixin sm-md {
	@media (min-width: ($w-sm + 1)) and (max-width: $w-md) { @content; }
}
@mixin sm-lg {
	@media (min-width: ($w-sm + 1)) and (max-width: $w-lg) { @content; }
}
@mixin md-lg {
	@media (min-width: ($w-md + 1)) and (max-width: $w-lg) { @content; }
}

@mixin lg-min {
	@media (min-width: ($w-lg + 1)) { @content; }
}
@mixin md-min {
	@media (min-width: ($w-md + 1)) { @content; }
}
@mixin sm-min {
	@media (min-width: ($w-sm + 1)) { @content; }
}
@mixin xs-min {
	@media (min-width: ($w-xs + 1)) { @content; }
}
@mixin xxs-min {
	@media (min-width: ($w-xxs + 1)) { @content; }
}


//fonts
@mixin font($alias, $name, $weight: normal, $style: normal){
	@font-face{
		font-family: $alias;
		src: url('../fonts/#{$name}.eot');
  		src: local('☺'), url('../fonts/#{$name}.woff') format('woff'), url('../fonts/#{$name}.otf') format('otf'), url('../fonts/#{$name}.ttf') format('truetype'), url('../fonts/#{$name}.svg') format('svg');
  		font-weight: $weight;
  		font-style: $style;
	}
}


//Прочее
@mixin transition($speed: 200ms){
	transition: all $speed ease-in;
}

@mixin placeholder($color){
	&::-webkit-input-placeholder{ color: $color; }
	&::-moz-placeholder{ color: $color; }/* Firefox 19+ */
	&:-moz-placeholder{ color: $color; }/* Firefox 18- */
	&:-ms-input-placeholder{ color: $color; }
}


//Уголки
@mixin arrow($width, $height, $bg, $direction){
	width: 0px;
	height: 0px;
	border-style: solid;

	@if ($direction = t){
		border-width: 0 $width/2 $height $width/2;
		border-color: transparent transparent $bg transparent;
	}
	@if ($direction = r){
		border-width: $height/2 0 $height/2 $width;
		border-color: transparent transparent transparent $bg;
	}
	@if ($direction = b){
		border-width: $height $width/2 0 $width/2;
		border-color: $bg transparent transparent transparent;
	}
	@if ($direction = l){
		border-width: $height/2 $width $height/2 0;
		border-color: transparent $bg transparent transparent;
	}
	@if ($direction = tl){
		border-width: $height $width 0 0;
		border-color: $bg transparent transparent transparent;
	}
	@if ($direction = tr){
		border-width: 0 $width $height 0;
		border-color: transparent $bg transparent transparent;
	}
	@if ($direction = br){
		border-width: 0 0 $height $width;
		border-color: transparent transparent $bg transparent;
	}
	@if ($direction = bl){
		border-width: $height 0 0 $width;
		border-color: transparent transparent transparent $bg;
	}		
}
